<div class="mat-typography app-frame" fxLayout="column" [ngClass]="theme.active.theme">
  <md-toolbar color="primary">
    <span class="toolbar-header">Hosted Code Snippets</span>
    <span fxFlex></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>color_lens</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item *ngFor="let t of theme.themes | async" (click)="theme.setTheme(t)">
        {{t.name}}
      </button>
    </md-menu>
  </md-toolbar>
  <div class="app-body mat-app-background" fxFlex fxFill>
    <md-toolbar>Examples</md-toolbar>
    <p>
      The below examples demonstrate using a component to render code snippets from a hosted site like GitHub.
    </p>
  </div>
</div>