.code-container {
    background-color: #1E1E1E;
    overflow: auto;
    margin: 0;
}

.code-container code {
    color: #e1e1e1;
}

.file-header {
    margin-left: 15px;
}

md-toolbar.mat-toolbar {
    margin: 0;
}